 /* ===============================
   Colour Palette:
   ---------------
   Dark Grey:	#3e3939
   Red:			#dd412b
   Black:		#303030
   Yelkow:		#fff600
   =============================== */
 /* General */

 html {
     font-size: 16px;
 }

 body {
     width: 100%;
     margin: 0 auto;
     font-family: 'Arial';
     font-size: 1rem;
     color: #3e3939;
 }

 .container {
     width: 100%;
     max-width: 1128px;
     margin: 0 auto;
 }

 @media all and (max-width:1127px) {
     .container {
         width: 98%;
     }
     #mainHeader>div {
         width: 98%;
     }
 }
 /* Typography */

 h1 {
     font-size: 3rem;
 }

 h2 {
     font-size: 2rem;
 }

 h3 {
     font-size: 1.224rem;
 }

 p {
     line-height: 1.6rem;
 }

 a,
 time {
     color: #fff600;
     transition: all .5s ease;
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }
 /* Main Header */

 #mainHeader {
     width: 100%;
     background: url(../images/pattern.gif);
 }

 #mainHeader>div {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 98%;
     padding-top: 2rem;
 }

 #mainHeader header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }

 #mainHeader header img {
     width: 32%;
     display: block;
 }

 #newsZone {
     position: relative;
     width: 30%;
     background-color: black;
     color: white;
     padding: 1% 3%;
 }

 #newsZone p {
     background: url(../images/quote.jpg);
     background-repeat: no-repeat;
     background-position: left top;
     padding: 15% 10% 0 10%;
     font-weight: bold;
     line-height: 1.5rem;
 }

 #newsZone p time {
     display: block;
     padding-top: 5%;
 }

 .arrowDown {
     position: absolute;
     width: 0;
     height: 0;
     border-left: 50px solid transparent;
     border-top: 20px solid #000;
     bottom: -7%;
     right: 0;
 }

 #mainNav {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }

 #mainNav ul {
     display: flex;
     justify-content: space-around;
     width: 60%;
     padding: 1% 0 0 0;
 }

 #mainNav ul li a {
     font-size: 1.424rem;
     font-weight: bold;
     color: white;
     transition: all ease .5s;
 }

 #mainNav ul li a:hover {
     color: #fff600;
     text-decoration: none;
 }

 #twitterLink {
     width: 40%;
     text-align: center;
     font-weight: bold;
 }

 #twitterLink p {
     padding-top: 1rem;
     position: relative;
 }

 #twitterLink p img {
     position: absolute;
     bottom: -28px;
     right: 0;
 }

 #twitterLink a {
     color: white;
     transition: all ease .5s;
 }

 #twitterLink p:hover a {
     color: #fff600;
     text-decoration: none;
 }
 /* Main Content */

 h2.container {
     margin: 2rem 0;
 }

 #mainContent>div {
     display: flex;
     justify-content: space-between;
 }

 #portfolio,
 #aboutUs,
 #testimony {
     width: 30%;
     display: flex;
     flex-direction: column;
 }

.readMore h3 a {
     color: #3e3939;
     transition: all ease .5s;
 }

 .readMore h3 a:hover {
     color: #303030;
     text-decoration: none;
 }

 #portfolio img {
     width: 100%;
 }

 #testimony img {
     width: 100%;
 }

 .overlayItem {
     position: relative;
 }

 .overlayItem img {
     width: 100%;
     vertical-align: top;
 }

 .overlayItem:after,
 .overlayItem:before {
     position: absolute;
     opacity: 0;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
 }

 .overlayItem:after {
     content: '\A';
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(255, 255, 255, 0.6);
 }

 .overlayItem:hover:after,
 .overlayItem:hover:before {
     opacity: 1;
 }
